body {
	background-color: #222;
	color: #ddd !important;
}

form {
	margin: 100px auto;
	width: 80%;
	max-width: 800px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(2, 1fr);
}

form input {
	padding: 10px;
	border: none;
	background-color: #fff;
	color: #111;
	font-size: 18px;
}

form input::placeholder {
	color: #111;
}

form input[type='submit'] {
	grid-column: 1 / -1;
	transition: .5s;
}

form input[type='submit']:hover {
	background-color: #666;
	color: #ddd;
}