body {
	background-color: #222;
	color: #ddd !important;
}

.jumbotron {
	background-color: #333;
}

.jumbotron  a {
	border-radius: 0 !important;
}

.problem-decision {
	display: flex;
	flex-direction: row;
	border: 3px solid #111;
	transition: .5s;
	min-height: 250px;
}

.problem-decision:hover {
	transform: scale(1.02);
}

.problem-decision img {
	width: 50%;
	object-fit: cover;
}

.container .wrap {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 75px;
}


@media screen and (max-width: 1400px) {
	.container .wrap {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 950px) {
	.container .wrap {
		grid-template-columns: repeat(1, 1fr);
	}
}