body {
  background-color: #222;
  color: #ddd;
  padding-bottom: 50px;
}

.complete_app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.complete_app input {
  color: #222;
  border-radius: 3px;
  font-size: 18px;
  border: none;
  margin: 10px 0;
  padding: 10px 15px;
}

.complete_app label {
  width: 100%;
  padding: 75px 0;
  text-align: center;
  font-size: 100px;
  color: #111;
  border: 4px dashed #111;
  border-radius: 3px;
}

.complete_app label:hover {
  background-color: #252525;
}

.complete_app input[type='file'] {
  display: none;
}

.complete_app input[type='submit']:hover {
  background-color: #ddd;
}